* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

button {
    background: transparent;
    cursor: pointer;
}