 @media (max-width: 1200px) {
   .hero .text {
        max-width: 49%;
    }
 }

 @media (max-width: 1000px) {
    .header nav {
        display: none;
    }

    .header .menu-mobile {
        display: block;
    }

    /* Section hero */
    .hero .container {
        flex-direction: column;
    }
/*     
    .hero .image {
        max-width: 40%;
        height: 40rem;
    } */
    .hero .text {
        max-width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    .hero .text h1 {
        text-align: center;
    }

    .hero .text p {
        text-align: center;
    }
 }

 @media (max-width: 768px) {
 
 }

 @media (max-width: 600px)  {

 }

 @media (max-width: 480px)  {
    /* Fonte */
    html {
        font-size: 55%;
    }
    
    /* logo */
    .header .logo {
        max-width: 130px;
    }

    /* hero section */
    .hero {
        padding: 4rem 0;
    }

    h1 {
        font-size: 4.2rem;
    }

    .hero .text p {
        margin-bottom: 3rem;
    }

    .hero .image {
        height: 30rem;
    }

    .hero .image img {
        max-width: 100px;
    }

 }