@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

/* Header
   *******************/
.header {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav .menu {
  display: flex;
  margin-right: 3.2rem;
}

.header nav ul li {
  margin-right: 3.2rem;
  /* zerar o li dependendo do margin para zerar */
}

.header nav ul li:last-child {
  margin-right: 0;
}

.header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

.menu-mobile {
  display: none;
}

/* Section hero 
   *******************/
.hero {
  padding: 7.2rem 0;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .text {
  width: 100%;
  max-width: 640px;
}

.hero .text h1 {
  margin-bottom: 2rem;
}

.hero .text p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 4.6rem;
  max-width: 488px;
  line-height: 150%;
}

.text .btn-primary {
  padding: 1.5rem 3.5rem;
  transition: .3s all;
}

.text .btn-primary:hover {
  transform: scale(1.1);
}

.hero .image {
  width: 100%;
  max-width: 480px;
  height: 496px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section featured cards 
   *******************/
.featured-cards {
  background-color: var(--black);
  padding: 10rem 0;

}

.featured-cards .main-area {
  padding-bottom: 12rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.106);
}

.featured-cards .title {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.featured-cards .title.center {
  align-items: center;
}

.featured-cards p {
  color: var(--white);
  margin-top: .8rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.card {
  background-color: var(--cards);
  width: 100%;
  max-width: 384px;
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.cards .card .info {
  margin-top: 4.0rem;
  text-align: center;
  max-width: 288px;
}

.cards .card .info h3 {
  text-transform: uppercase;
}

.cards .card .info p {
  margin-top: .8rem;
  line-height: 150%;
}

.cards .white {
  background-color: var(--white);
  color: var(--gray);
}

.cards .white h3 {
  text-transform: uppercase;
}

.cards .white h3,
.cards .white p {
  color: var(--black);
}

.cards .white p {
  line-height: 150%;
}

/**********************
Second area
**********************/
.featured-cards .second-area {
  margin-top: 10rem 0 ;
}