:root {
    --primary: #E3170A;
    --secondary: #297373;
    --white: #FDFDFF;
    --black: #1C1D21;
    --gray: #e1e1e18e;
    --cards: #292b30e5;
}
/* Definir os cores das variaveis de acordo com o 
style-guide */